.App {
  text-align: center;
}

.showPersons {
  background: green;
  color: white;
  padding: 8px;
  border: 1px solid black;
}

.hidePersons {
  background: red;
  color: black;
  padding: 8px;
  border: 1px dashed grey;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}
